h1 Chat
button(ng-click="popoverVisible=!popoverVisible" outer-click="popoverVisible=false" outer-click-exclude="popover") Threads
    span(ng-if="$ctrl.count") &nbsp;({{ $ctrl.count }})
threads-popover(id="popover" ng-class="{visible: popoverVisible}" ng-if="popoverVisible")
