h1 Menu
div.button(ng-click="$ctrl.setItem('Posts')") Posts
div.button(ng-click="$ctrl.setItem('Tags')") Tags
div.button(ng-click="$ctrl.setItem('Links')") Links
div.button(ng-click="$ctrl.setItem('Bio')") Bio

