h1 Hello world! This is IT537!
p {{$ctrl.content}}
posts(ng-if="$ctrl.content == 'Posts'")
tags(ng-if="$ctrl.content == 'Tags'")
links(ng-if="$ctrl.content == 'Links'")
bio(ng-if="$ctrl.content == 'Bio'")
